
<div class="cc-canvas-container">
    <div class="cc-canvas-resizer">
        <div id="cc-canvas-resizer-icon"></div>
    </div>

    <div class="cc-canvas-compiler-ui">
        <div id="canvas-compiler"></div>

        <div class="cc-canvas-compiler-customize">
            <h2>Prompt</h2>
            <div class="cc-canvas-modify-ui">
                <label>
                    <textarea name="Prompt" cols="30" rows="5"></textarea>
                </label>
            </div>
            <h2>Radius</h2>
            <div class="cc-canvas-modify-ui">
                <label>
                    Top left
                    <input type="number">
                </label>
                <label>
                    Top right
                    <input type="number">
                </label>
                <label>
                    Bottom left
                    <input type="number">
                </label>
                <label>
                    Bottom right
                    <input type="number">
                </label>
            </div>
            <h2>Z-index</h2>
            <div class="cc-canvas-modify-ui">
                <button>UP</button>
                <button>DOWN</button>
            </div>
            <h2>Background</h2>
            <div class="cc-canvas-modify-ui">
                <label>
                    <input type="color">
                </label>
            </div>
            <h2>Stroke</h2>
            <div class="cc-canvas-modify-ui">
                <label>
                    <input type="color">
                </label>
                <label>
                    Thickness
                    <input type="number">
                </label>
            </div>
            <h2>Effect</h2>
            <div class="cc-canvas-modify-ui">
                <label>
                    <select>
                        <option value="option1">None</option>
                        <option value="option2">Shadow</option>
                        <option value="option3">Blur</option>
                    </select>
                </label>
                <div class="cc-canvas-modify-ui">
                    Intensity
                    <label>
                        <input type="number">
                    </label>
                </div>
            </div>
        </div>

    </div>
</div>
