<div class="cc-canvas-container">
    <div class="cc-canvas-resizer">
        <div id="cc-canvas-resizer-icon"></div>
    </div>

    <div class="cc-canvas-compiler-ui">
        <div id="canvas-compiler"></div>

        <div id="cc-canvas-shape-editor" class="cc-canvas-compiler-customize cc-canvas-compiler-display-none">
            <h2>Prompt</h2>
            <div class="cc-canvas-modify-ui">
                <label>
                    <textarea id="canvas-compiler-prompt" name="Prompt" cols="30" rows="5"></textarea>
                </label>
            </div>
            <h2>Radius</h2>
            <div class="cc-canvas-modify-ui">
                <label>
                    Top left
                    <input id="radius-topleft" type="number">
                </label>
                <label>
                    Top right
                    <input id="radius-topright" type="number">
                </label>
                <label>
                    Bottom right
                    <input id="radius-bottomright" type="number">
                </label>
                <label>
                    Bottom left
                    <input id="radius-bottomleft" type="number">
                </label>
            </div>
            <h2>Z-index</h2>
            <div class="cc-canvas-modify-ui">
                <button id="canvas-compiler-up-button">UP</button>
                <button id="canvas-compiler-down-button">DOWN</button>
            </div>
            <h2>Background</h2>
            <div class="cc-canvas-modify-ui">
                <label>
                    <input id="canvas-compiler-background-shape" type="color">
                </label>
            </div>
            <h2>Stroke</h2>
            <div class="cc-canvas-modify-ui">
                <label>
                    <input id="canvas-compiler-stroke-color" type="color">
                </label>
                <label>
                    Thickness
                    <input id="canvas-compiler-stroke" type="number">
                </label>
            </div>
            <h2>Effect</h2>
            <div class="cc-canvas-modify-ui">
                <label>
                    <select id="canvas-compiler-effect">
                        <option value="option1">None</option>
                        <option value="option2">Shadow</option>
                        <option value="option3">Blur</option>
                    </select>
                </label>
                <div class="cc-canvas-modify-ui">
                    Intensity
                    <label>
                        <input id="canvas-compiler-effect-intensity" type="number">
                    </label>
                </div>
            </div>
        </div>

        <div id="cc-canvas-stage-editor" class="cc-canvas-compiler-customize">
            <button>Generate</button>
            <h2>Prompt</h2>
            <div class="cc-canvas-modify-ui">
                <label>
                    <textarea id="canvas-compiler-main-prompt" name="Prompt" cols="30" rows="5"></textarea>
                </label>
            </div>
            <h2>Background</h2>
            <div class="cc-canvas-modify-ui">
                <label>
                    <input id="canvas-compiler-background-stage" type="color">
                </label>
            </div>
        </div>

        <div id="cc-canvas-text-editor" class="cc-canvas-compiler-customize cc-canvas-compiler-display-none">
            <h2>Prompt</h2>
            <div class="cc-canvas-modify-ui">
                <label>
                    <textarea id="canvas-compiler-text-prompt" name="Prompt" cols="30" rows="5"></textarea>
                </label>
            </div>
            <h2>Color</h2>
            <div class="cc-canvas-modify-ui">
                <label>
                    <input id="canvas-compiler-text-color" type="color">
                </label>
            </div>
            <h2>Size</h2>
            <div class="cc-canvas-modify-ui">
                <label>
                    <input id="canvas-compiler-text-size" type="number">
                </label>
            </div>
            <h2>Style</h2>
            <div class="cc-canvas-modify-ui">
                <label>
                    <select id="canvas-compiler-text-weight">
                        <option value="normal">Normal</option>
                        <option value="bold">Bold</option>
                        <option value="italic normal">Italic Normal</option>
                        <option value="italic bold">Italic Bold</option>
                    </select>
                </label>
            </div>
            <h2>Z-index</h2>
            <div class="cc-canvas-modify-ui">
                <button id="canvas-compiler-text-up-button">UP</button>
                <button id="canvas-compiler-text-down-button">DOWN</button>
            </div>
        </div>

        <div id="cc-canvas-image-editor" class="cc-canvas-compiler-customize cc-canvas-compiler-display-none">
            <h2>Prompt</h2>
            <div class="cc-canvas-modify-ui">
                <label>
                    <textarea id="canvas-compiler-image-prompt" name="Prompt" cols="30" rows="5"></textarea>
                </label>
            </div>
            <h2>URL</h2>
            <div class="cc-canvas-modify-ui">
                <label>
                    <input id="canvas-compiler-image-url" type="url">
                </label>
            </div>
            <h2>Radius</h2>
            <div class="cc-canvas-modify-ui">
                <label>
                    Top left
                    <input id="radius-image-topleft" type="number">
                </label>
                <label>
                    Top right
                    <input id="radius-image-topright" type="number">
                </label>
                <label>
                    Bottom right
                    <input id="radius-image-bottomright" type="number">
                </label>
                <label>
                    Bottom left
                    <input id="radius-image-bottomleft" type="number">
                </label>
            </div>
            <h2>Z-index</h2>
            <div class="cc-canvas-modify-ui">
                <button id="canvas-compiler-image-up-button">UP</button>
                <button id="canvas-compiler-image-down-button">DOWN</button>
            </div>
        </div>
    </div>
</div>
