/* palette */
.cc-palette-container {
    background: lightgray;
    border-radius: 12px;
    padding: 2px 2px 2px 0;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
}

.cc-palette-container-moving {
    border: 2px white solid;
}

#cc-palette-moving-icon {
    cursor: move;
    width: 15px;
    height: 15px;
}

.cc-palette-buttons-container {
    display: flex;
    align-items: center;
    gap: 2px;
}

.cc-palette-buttons {
    display: flex;
    background: #ffffff;
    border-radius: 12px;
    padding: 5px;
    align-items: center;
    gap: 2px;
}

.cc-palette-buttons > svg {
    cursor: pointer;
    width: 33px;
    height: 33px;
}

.cc-palette-buttons > svg:hover {
    background: #E9E9EA;
    border-radius: 12px;
    transition: all 0.2s
}


#cc-color-picker {
    width: 33px;
    height: 33px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
}

#cc-color-picker::-webkit-color-swatch {
    border-radius: 12px;
    border: 1px lightgray solid;
}

/* canvas */
#canvas-compiler {
    width: 100%;
    height: 30vh;
    background: white;
    overflow: hidden;
}
